@charset "ISO-8859-1";

.spacing {
	padding: 2% 7% 2% 7%;
	margin-top: 5%;
	width: 70%;
}

.margin {
	margin: 5% 0% 5% 0%;
}

.title {
	margin: 20px 0 10px 5%;
}
/*radio button*/
.customized-radio {
  	 height: 20px;
 	 width: 20px;
 	 cursor: pointer;
}

